<form name="rantingForm" novalidate>
	<div class="row" ng-if="vmPro.product.type==='Traitement de dossier de visa'">

		<div class="col-md-12 bold">Fournisseur <br> <br></div>
		<div class="col-md-6">
			<!-- Fournisseur -->
			<div class="form-group">
				<label for="supplier">Fournisseur<span class="required-input">*</span></label>
				<multiselect class="full-multiselect" ng-model="vmPro.product.ranting.supplier" options="supplier.username for supplier in vmPro.suppliers"
				    data-order-options-by="-model.date" data-multiple="false" data-compare-by="_id" scroll-after-rows="5" filter-after-rows="5"
				    ms-header="Fournisseur">
				</multiselect>
			</div>
			<!-- /Fournisseur -->
		</div>

		<div class="col-md-4">
			<!-- Compagnie -->
			<div class="form-group" ng-if="vmPro.supplierType(vmPro.product.ranting.supplier)==='Intermédiaire'">
				<label for="company">Compagnie<span class="required-input">*</span></label>
				<multiselect class="full-multiselect" ng-model="vmPro.product.ranting.company" options="company.username for company in vmPro.companies"
				    data-order-options-by="-model.date" data-multiple="false" data-compare-by="_id" scroll-after-rows="5" filter-after-rows="5"
				    ms-header="Compagnie">
				</multiselect>
			</div>
			<!-- /Compagnie -->
		</div>
		<div class="col-md-2 mt21">
			<button type="button" class="btn btn-success float-right" ng-click="vmPro.addSupplier=!vmPro.addSupplier">{{vmPro.addSupplier?'Cacher':'Nouveau Fournisseur'}}</button>
		</div>
		<div class="col-md-12" ng-if="!vmPro.addSupplier && vmPro.product.type==='Traitement de dossier de visa'">
			<hr>
		</div>
	</div>

	<div ng-if="vmPro.addSupplier && vmPro.product.type==='Traitement de dossier de visa'" include-with-scope="app/main/products/product/forms/new_supplier.html"></div>

	<div class="row">
		<div class="col-md-3">
			<!--Nombre de place-->
			<div class="form-group has-feedback" ng-class="{'has-error': vmPro.rantingForm.nb_places.$invalid && (vmPro.rantingForm.nb_places.$dirty || vmPro.rantingForm.$submitted)}">
				<label for="nb_places">Nombre de place<span class="required-input">*</span></label>
				<input type="number" min="1" class="form-control" id="nb_places" name="nb_places" placeholder="Nombre de place" ng-model="vmPro.product.ranting.nb_places"
				    required>
				<span class="help-block error-block basic-block">Le Nombre de place est obligatoire</span>
			</div>
			<!--/Nombre de place-->
		</div>
		<div class="col-md-3">
			<!--Prix Unitaire-->
			<div class="form-group has-feedback" ng-class="{'has-error': vmPro.rantingForm.unit_price.$invalid && (vmPro.rantingForm.unit_price.$dirty || vmPro.rantingForm.$submitted)}">
				<label for="unit_price">Prix Unitaire<span class="required-input">*</span></label>
				<input type="number" min="1" class="form-control" id="unit_price" name="unit_price" placeholder="Prix Unitaire" ng-model="vmPro.product.ranting.r_unit_price">
				<span class="help-block error-block basic-block">Le Prix Unitaire est obligatoire</span>
			</div>
			<!--/Prix Unitaire-->
		</div>
		<div class="col-md-3">
			<!--Prix Location-->
			<div class="form-group has-feedback" ng-class="{'has-error': vmPro.rantingForm.location_price.$invalid && (vmPro.rantingForm.location_price.$dirty || vmPro.rantingForm.$submitted)}">
				<label for="location_price">Prix Location<span class="required-input">*</span></label>
				<input type="text" min="1" class="form-control" id="location_price" name="location_price" placeholder="Prix Location" readonly
				    ng-value="(vmPro.product.ranting.r_unit_price*vmPro.product.ranting.nb_places) || 0" required>
				<span class="help-block error-block basic-block">Le Prix Location est obligatoire</span>
			</div>
			<!--/Prix Transport-->
		</div>
		<div class="col-md-3">
			<!--Prix moyen de Transport -->
			<div class="form-group has-feedback">
				<label for="avg_price_price">Prix moyen<span class="required-input">*</span></label>
				<input type="text" class="form-control" id="avg_price_price" name="avg_price_price" placeholder="Prix moyen" readonly ng-value="(vmPro.product.ranting.r_unit_price*vmPro.product.ranting.nb_places/vmPro.product.occupants.length) || 0">
			</div>
			<!--/Prix moyen de Transport-->
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
			<!--Prix Unitaire-->
			<div class="form-group has-feedback">
				<label for="avg_price_price">Prix Achat Unitaire<span class="required-input">*</span></label>
				<input type="number" class="form-control" id="avg_price_price" name="avg_price_price" placeholder="Prix Achat Unitaire" ng-model="vmPro.product.ranting.unit_price"
				    ng-change="vmPro.update('ranting','unit_price')">
			</div>
			<!--/Prix Unitaire-->
		</div>
		<div class="col-md-3">
			<!--Bénéfice-->
			<div class="form-group has-feedback" ng-class="{'has-error': vmPro.rantingForm.profit.$invalid && (vmPro.rantingForm.profit.$dirty || vmPro.rantingForm.$submitted)}">
				<label for="profit">Bénéfice %</label>
				<input type="number" ng-change="vmPro.update('ranting','profit')" min="1" max="100" class="form-control" id="profit" name="profit"
				    placeholder="Pourcentage" ng-model="vmPro.product.ranting.profit" required>
			</div>
			<!--/Bénéfice-->
		</div>
		<div class="col-md-3">
			<!--Prix Vente Unitaire-->
			<div class="form-group has-feedback">
				<label for="selling_price">Prix Vente Unitaire</label>
				<input type="number" min="1" class="form-control" id="selling_price" name="selling_price" placeholder="Prix Vente Unitaire"
				    ng-value="vmPro.product.ranting.unit_price+vmPro.product.ranting.unit_price*(vmPro.product.ranting.profit/100)" readonly>
			</div>
			<!--/Prix Vente Unitaire-->
		</div>
		<div class="col-md-3">
			<!--S'applique à tous-->
			<div class="form-group has-feedback pt25">
				<input type="checkbox" ng-change="vmPro.updateAll('ranting')" id="apply_to_all" name="apply_to_all" ng-model="vmPro.product.ranting.all">
				<label for="apply_to_all">S'applique à tous</label>
			</div>
			<!--/S'applique à tous-->
		</div>
	</div>

	<div class="row" ng-repeat="occupant in vmPro.product.occupants track by $index">
		<div class="col-md-12" ng-init="vmPro.product.ranting.occupants[occupant]=vmPro.product.ranting.occupants[occupant] || {}"><br>{{ ($index+1)+"- "+ vmPro.occupant(occupant).username }}<br><br></div>
		<div class="col-md-2">
			<!--Age-->
			<div class="form-group has-feedback" ng-class="{'has-error': vmPro.rantingForm['age_'+{{$index}}].$invalid && (vmPro.rantingForm['age_'+{{$index}}].$dirty || vmPro.rantingForm.$submitted)}">
				<label for="age_{{$index}}">Age</label>
				<input type="number" min="0" max="150" class="form-control" id="age_{{$index}}" name="age_{{$index}}" placeholder="Age" ng-model="vmPro.product.ranting.occupants[occupant].age">
			</div>
			<!--/Age-->
		</div>
		<div class="col-md-2">
			<!--Prix Achat Unitaire-->
			<div class="form-group has-feedback" ng-class="{'has-error': vmPro.rantingForm['unit_price_'+{{$index}}].$invalid && (vmPro.rantingForm['unit_price_'+{{$index}}].$dirty || vmPro.rantingForm.$submitted)}">
				<label for="unit_price_{{$index}}">Prix Achat Unitaire</label>
				<input type="number" class="form-control" id="unit_price_{{$index}}" name="unit_price_{{$index}}" placeholder="Prix Achat"
				    ng-readonly="vmPro.product.ranting.all" ng-model="vmPro.product.ranting.occupants[occupant].unit_price">
			</div>
			<!--/Prix Achat Unitaire-->
		</div>
		<div class="col-md-2">
			<!--Bénéfice-->
			<div class="form-group has-feedback" ng-class="{'has-error': vmPro.rantingForm['profit_'+{{$index}}].$invalid && (vmPro.rantingForm['profit_'+{{$index}}].$dirty || vmPro.rantingForm.$submitted)}">
				<label for="profit_{{$index}}">Bénéfice</label>
				<input type="number" min="0" max="100" class="form-control" id="profit_{{$index}}" name="profit_{{$index}}" ng-readonly="vmPro.product.ranting.all"
				    placeholder="%" ng-model="vmPro.product.ranting.occupants[occupant].profit">
			</div>
			<!--/Bénéfice-->
		</div>
		<div class="col-md-2">
			<!--Prix Vente Unitaire-->
			<div class="form-group has-feedback" ng-class="{'has-error': vmPro.rantingForm['selling_price_'+{{$index}}].$invalid && (vmPro.rantingForm['selling_price_'+{{$index}}].$dirty || vmPro.rantingForm.$submitted)}">
				<label for="selling_price_{{$index}}">Prix Vente Unitaire</label>
				<input type="number" class="form-control" id="selling_price_{{$index}}" name="selling_price_{{$index}}" placeholder="Prix Vente"
				    readonly ng-value="vmPro.product.ranting.occupants[occupant].unit_price+vmPro.product.ranting.occupants[occupant].unit_price*(vmPro.product.ranting.occupants[occupant].profit/100)">
			</div>
			<!--/Prix Vente Unitaire-->
		</div>
		<div class="col-md-2">
			<!--Supplément-->
			<div class="form-group has-feedback" ng-class="{'has-error': vmPro.rantingForm['supplement_amount_'+{{$index}}].$invalid && (vmPro.rantingForm['supplement_amount_'+{{$index}}].$dirty || vmPro.rantingForm.$submitted)}">
				<label for="supplement_amount_{{$index}}">Montant Supplément</label>
				<input type="number" min="0" class="form-control" id="supplement_amount_{{$index}}" name="supplement_amount_{{$index}}" placeholder="Montant"
				    ng-model="vmPro.product.ranting.occupants[occupant].supplement_amount">
			</div>
			<!--/Supplément-->
		</div>
		<div class="col-md-1">
			<!--Majoré (pourcentage)-->
			<div class="form-group has-feedback" ng-class="{'has-error': vmPro.rantingForm['supplement_percentage_'+{{$index}}].$invalid && (vmPro.rantingForm['supplement_percentage_'+{{$index}}].$dirty || vmPro.rantingForm.$submitted)}">
				<label for="supplement_percentage_{{$index}}">Majoré</label>
				<input type="number" min="0" max="100" class="form-control" id="supplement_percentage_{{$index}}" name="supplement_percentage_{{$index}}"
				    placeholder="%" ng-model="vmPro.product.ranting.occupants[occupant].supplement_percentage">
			</div>
			<!--/Majoré (pourcentage)-->
		</div>
		<div class="col-md-1">
			<!--Réduction (pourcentage)-->
			<div class="form-group has-feedback" ng-class="{'has-error': vmPro.rantingForm['discount_'+{{$index}}].$invalid && (vmPro.rantingForm['discount_'+{{$index}}].$dirty || vmPro.rantingForm.$submitted)}">
				<label for="discount_{{$index}}">Réduction</label>
				<input type="number" min="0" max="100" class="form-control" id="discount_{{$index}}" name="discount_{{$index}}" placeholder="%"
				    ng-model="vmPro.product.ranting.occupants[occupant].discount">
			</div>
			<!--/Réduction (pourcentage)-->
		</div>
		<div class="col-md-10"></div>
		<div class="col-md-2">
			<!--Total Occupant-->
			<div class="form-group">
				<label for="total_{{$index}}">Total par Occupant</label>
				<input type="number" class="form-control" id="total_{{$index}}" name="total_{{$index}}" placeholder="Total Occupant" readonly
				    ng-value="vmPro.ratingPriceByOccupant(occupant)">
			</div>
			<!--/Total Occupant-->
		</div>
	</div>

	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<hr>
		</div>
		<div class="col-md-12"></div>
		<div class="col-md-4">
			<!--Nb de Nuitée (-1 nbJour) -->
			<div class="form-group has-feedback">
				<label for="nb_nights">Nombre de Nuitée</label>
				<input type="text" class="form-control" id="nb_nights" name="nb_nights" placeholder="Nombre de Nuitée" readonly value="{{ vmPro.getNights(vmPro.product.stay.start_date,vmPro.product.stay.end_date) }}">
			</div>
			<!--/Nb de Nuitée -->
		</div>
		<div class="col-md-4">
			<!--Total D'achat -->
			<div class="form-group has-feedback">
				<label for="sum_purchase_price">Total D'achat</label>
				<input type="text" class="form-control" id="sum_purchase_price" name="sum_purchase_price" placeholder="Total D'achat" readonly
				    ng-value="vmPro.product.purchase_price">
			</div>
			<!--/Total D'achat -->
		</div>
		<div class="col-md-4">
			<!--Total de vente -->
			<div class="form-group has-feedback">
				<label for="sum_selling_price">Total de vente</label>
				<input type="text" class="form-control" id="sum_selling_price" name="sum_selling_price" placeholder="Total de vente" readonly
				    ng-value="vmPro.product.total">
			</div>
			<!--/Total de vente -->
		</div>
	</div>
</form>